[Unit]
Description=Spotify TUI Player daemon
After=network.target

[Service]
ExecStart=/home/df/.cargo/bin/spotify_player
Restart=on-failure
Environment=PATH=/home/df/.cargo/bin:/usr/bin:/bin

[Install]
WantedBy=default.target

